/* tables */
table.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 12pt;
    padding: 4px;
}

table.tablesorter thead tr .tablesorter-header {
    background-image: url(../img/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: middle;
    font: normal 16px Georgia, 'Times New Roman', serif;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .tablesorter-headerDesc {
    background-image: url(../img/asc.gif);
}

table.tablesorter thead tr .tablesorter-headerAsc {
    background-image: url(../img/desc.gif);
}

table.tablesorter thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
    background-color: #8dbdd8;
}

table.tablesorter tr.data {
    border-top: solid 1px #e1e1e1;
}

#datatables tbody tr.remove-me {
    display: none;
}

#datatables .header, #datatables .header-none-sort {
    height: 40px;
    margin: 0 auto;
    width: 0;
    font-size: 11pt;
    text-align: start;
}

table.tablesorter tr.data:hover {
    border-bottom: solid 1px #6a5b91;
    border-top: solid 1px #6a5b91;
    margin-top: 2px;
}

/* ----------pagnation tablesort-------- */
.pages-tablesorter {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    border: solid 1px rosybrown;
    padding: 10px;
    background: ghostwhite;
}

.pager .left {
    float: left;
}

.pager .right {
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pager .prev, .pager .next, .pagecount {
    cursor: pointer;
}

.pager a {
    color: black;
}

.pager a.current {
    text-decoration: none;
    color: #0080ff;
}

.tablesorter input.fix-class-check {
    opacity: 1;
    position: relative;
    display: block;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin: 0 auto;;
    cursor: pointer;
}

.wait-modal-load {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.bottom_action div.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.bottom_action div.loading {
    display: block;
}

.bottom_action > button > a {
    color: #ffffff;
    font-width: bold;
}
