.plus-button {
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: gray;
}

.plus-button:hover {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: purple;
    cursor: pointer;
}

.background-image {
    /*background-image: url("../img/14028718821_8009120372_k.jpg");
    background-image: url("../img/yosemite.jpg");*/
    background-image: url("../img/bg.jpg");
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

.content {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: auto;
    z-index: 2;
    /********/
    padding: 10px 20px;
    top: 90px;
    min-width: 300px;
}

div.content:hover, div.content:active, div.content:focus {
    background: rgba(255, 255, 255, 0.6);
}

/**************************end login*************************************/

/**************************begin form*************************************/
#field-box {
    display: block;
    border-radius: 3px;
    margin: 33px 10px 15px;
    padding: 29px 25px;
    border: 1px solid #ddd;
}

.my-forms li:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.my-forms label:focus {
    color: rgb(140, 102, 153);
}

.slide-header {
    width: 90%;
    border-bottom: 2px dotted gray;
    font-size: 17px;
    padding-bottom: 7px;
    margin-bottom: 19px !important;
}

.error-text {
    color: darkred;
    font-size: 12px;
    text-transform: capitalize;
    font-style: italic;
}

.tbFooter {
    background: #D3DCE3;
    border-top: 0;
    margin: -33px 10px 15px;
    text-align: right;
    float: none;
    clear: both;
    height: 70px;
    border-radius: 0 0 4px 5px;
    padding: 20px;
}

.success-status {
    /*color: green; */
    color: rgb(140, 102, 153);
    font-size: 24px;
    height: 38px;
    line-height: 38px !important;
    opacity: .8;
    text-align: center;
    top: 6px;
    width: 42px;
    z-index: 2;
    right: -3px;
}

.editable-table tbody tr {
    height: 42px;
}

.profile .profile-picture {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
}

.profile .profile-overview {

}

.display-box {
    height: 500px;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #ddd;
    z-index: 10;
    line-height: 1.7;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.top-card {
    display: block;
    float: left;
    position: relative;
    width: 250px;
    height: 100%;
    background: white;
    padding: 10px 5px;
    border-right: 1px solid #ddd;
    overflow: scroll;
}
a.bookmark-btn {
    cursor: pointer;
}
.profile-nav {
    /*padding: 0 25px;*/
    line-height: 40px;

}

.profile-nav .p-link {
    transition: background 0.6s;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid rgba(0, 0, 0, .1);;
    display: block;
    float: none;
    clear: both;
    height: 40px;

}

.p-box {
    height: 1000px;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #ddd;
    /*z-index: 10;*/
    line-height: 1.7;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

.profile-nav .p-link a {
    display: block;
    color: gray;
    width: 100%;
    height: 100%;
}

.profile-nav .p-link:hover, .p-link:focus, .p-link:active {
    background-color: rgba(51, 51, 51, 0.9);
}

.profile-nav .p-link:hover a, .p-link:focus a, .p-link:active a {
    color: white;
}

.profile-nav .p-link a i {
    float: left;
    width: 50px;
    text-align: center;
    font-size: 20px;

}

#p-active {
    color: rgb(140, 102, 153);
}

.profile-nav .p-link .li-text {
    float: left;
    padding-left: 5%;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.title {
    text-align: center;
    font-weight: 300;
}

.title h2 {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0 10px 0;
}

.title h3 {
    font-size: 18px;
    color: #aaa;
    margin: 0px 0 10px 0;
}

.basic-info {
    float: left;
    display: block;
    overflow: scroll;
    width: 70%;
    height: 100%;
}

.basic-info .bd {
    padding: 25px 30px 30px;
}

.basic-info .bd ul {
    display: block;
    margin: 0 0 1em 0;
}

.basic-info .bd ul li:not(:last-child) {
    margin-bottom: 2em;
    /*padding-bottom: 2em;*/
    /*border-bottom: 1px solid #ccc;*/
    min-height: 150px;
}

.basic-info .bd table {
    width: 100%;
}

.basic-info .bd table th {
    width: 30%;
}

.basic-info .bd table td {
    width: 70%;
}

.basic-info .bd table th h2 {
    text-align: right;
    padding: 0 19px;
    clear: both;
    color: #7b90b5;
}

.basic-info .bd table th h4 {
    text-align: right;
    padding: 0 19px;
    clear: both;
    font-size: 13px;
    color: #7b90b5;
}

.ft {
    box-shadow: 0 1px 0 #fff inset;
    clear: both;
    border-top: 1px dashed #ccc;
    padding: 0 21px 0 21px;
    background: #f6f6f6;
    float: right;
    width: 100%;
    height: 30px;
    color: gray;
    margin-top: -30px;
    text-align: right;
}

.dropzone-container {

}

#dropzone {
    position: relative;
    border: 2px dashed #d4d4d4;
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 200px;
    width: 200px;
    color: #9a9a9a;
    text-align: center;
}

#dropzone.hover {
    border: 10px solid #d4d4d4;
    color: #FE5;
}

#dropzone.dropped {
    background: #f2f2f2;
    border: 1px solid #d4d4d4;
}

#dropzone div.fixed-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#dropzone img {
    margin-top: auto;
    width: 100%;
    height: 100%;
    border-radius: 6px;

}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dropzone-text-place {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59, 137, 259, 1);
}

input[type="checkbox"].tinyswitch.ios-switch + div {
    width: 34px;
    height: 18px;
}

input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

input[type="checkbox"].purple.ios-switch:checked + div {
    background-color: #b3b3d2;
    border: 1px solid #6a5b91;
    box-shadow: inset 0 0 0 10px #a3a3c2;
}

/* Green Knob */
input[type="checkbox"].purple.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #4a3b71;
}

/* **************** bqn custom login ***************** */
.content {
    padding: 0px 0px;
}

.content .h3-title {
    background: #424242;
    padding: 5px 25px;

}

.content .h3-title h3 {
    padding: 0px 0px;
    font-size: 24px;
    text-transform: inherit;
    color: white;
    font-weight: 700;
}

.fix {
    border: none;
    padding: 0px 25px;
    margin: 25px 5px;
}

#login .clr, #register .clr {
    clear: both;
    background: #424242;
    padding: 20px;
}
#register .title {
    text-align: left;
    line-height: 32px;
}
#login .clr .checkbox {
    color: #ffffff;
}

#login .clr a {
    color: #e9751a;
    /*float: left;*/
}

input.float_right.b-purple.col-md-12 {
    font-size: large;
    padding: 14px 0;
    text-transform: initial;
    font-weight: bold;
}

.disline {
    display: block;
    padding: 0 0 12px;
    margin: 30px 0 18px 0;
    position: relative;
    line-height: 12px;
}

.disline a {
    float: right;
    margin-right: 20px;
    color: lightslategrey;
}

.fix-lable {
    padding: 0px 0 0 12px;
    margin: auto;
}

/* ------------------ adsearch ------------- */
#list_table .controlle-search {
    margin-bottom: 15px;
}

div#adSearch {
    float: right;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: #fff;
    color: #888;
    position: relative;
}

#adSearch input#nameSearch {
    width: 20em;
    margin: 0 auto;
    line-height: 32px;
    border: 0;
    border-right: 1px solid #e7e7e7;
    padding-left: 10px;
    padding: 2px 0 -1px 10px;
}
#adSearch select#positionsSearch {
    height: 100%;
    border: none;
    border-right: 1px solid #e7e7e7;
}
#adSearch select#statusSearch {
    height: 100%;
    border: none;
    border-right: 1px solid #e7e7e7;
}
#adSearch input#submitSearch {
    border: 0 none;
    height: 100%;
    width: 5em;
    margin-left: -4px;
}
.source { margin: 5px; }

/*********************** pagination ***************** */

.pagination-holder {
    padding: 0px 20px;
    margin: 10px 0px 20px;
}

.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
    float: left;
    text-decoration: none;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a.page-link:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

/* custom button send email in page cv */

button.btn-send-email {
   margin-top: 6px;
}

/* ****     fix input type=file       *** */
.my-forms .fix-file {
    padding: 7px 0px;
}

/* ------------------- css create cv basic---------------------- */

.box_white {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.25);
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
}
.radio-inline{
    margin-bottom: 6px;
    position: relative;
}
.mt_6 {
    margin-top: 6px !important;
}
.text_red_box {
    color: #ff0000;
    font-size: 1.5em;
}
.fw-500 {
    font-weight: 500;
}
.block-info {
    padding: 15px 35px;
    line-height: 30px;
}

.block_ntv_dangnhap {
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 10px 15px 20px;
    overflow: hidden;
    line-height: 29px;
    display: block;
}
.hr_box {
    background: #eeeeee;
}
.fix-btn-ccv {
    padding: 10px 20px;
}
.fix-btn-ccv span.fa.fa-paperclip {
    font-size: 1.2em;
    padding: 2px 8px 2px 0px;
}

.title_lange {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 62px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.text_title_white_lange {
    vertical-align: middle;
}

.bg_blue {
    background: #00999f !important;
}
.mt20 {
    margin-top: 20px;
}
.mt32 {
    margin-top: 32px;
}
.mt8 {
    margin-top: 8px;
}
.text_white {
    color: white;
}
.font18 {
    font-size: 18px !important;
}
.pt_18 {
    padding-top: 18px !important;
}
.mr_15 {
    margin-right: 15px;
}
.mr_25 {
    margin-right: 25px;
}
.mr_35 {
    margin-right: 35px;
}.mr_50 {
    margin-right: 50px;
}
.ml_15 {
    margin-left: 15px;
}
.m-top-15 {
    margin-top: -15px;
}
.m-top-20 {
    margin-top: -20px;
}
.m-top-25 {
    margin-top: -25px;
}
.m-top-40 {
    margin-top: -40px;
}
.m-top-50 {
    margin-top: -50px;
}
.m-left-15 {
    margin-left: -15px;
}
.m-left-20 {
    margin-left: -20px;
}
.m-left-25 {
    margin-left: -25px;
}
.m-left-40 {
    margin-left: -40px;
}
.m-left-50 {
    margin-left: -50px;
}
.ml_15 {
    margin-left: 15px;
}

.pl_4 {
    padding-left: 4px !important;
}
.col-xs-6 {
    width: 50%;
}
.text-tim-nhat {
    color: #00999f;
}
.text-tim-nhat {
    color: #3f51b5;
    text-transform: uppercase;
    font-size: 16px;
}

.bold {
    font-weight: 500;
}

.block_ntv_dangnhap .pl_16 {
    background: #CDDC39;
    font-size: inherit;
    color: white;
    font-weight: 600;
}
.block_ntv_dangnhap a.btn {
    background: lightgray;
}
.block_ntv_dangnhap .fix-lb {
    background: beige;
    width: 100%;
    font-size: large;
    font-weight: 500;
    color: black;
    cursor: pointer;
}
.modal-content .header-createcv{
    color: green;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    line-height: 15px;
}
/*  -------------Custom by tooltip cv-------------*/
#WzBoDy {
    width: 900px;
    background: beige;
}
#WzBoDy .topx-bit {
    box-shadow: aliceblue;
    background: #ede1e2;
}
#WzBoDy .forumhead .foruminfo .topx-tip-head {
    color: snow;
    font-size: 5em;
    padding: 1px 20px;
    line-height: 12px;
    font-weight: 400;
}
#WzBoDy .forumhead h2 {
     padding: 0;
    font-size: 20px;
    color: red;
    line-height: 12px;
    font-weight: 500;
}
#WzBoDy .topx-bit hr {
    margin: 0;
    padding: 0;
}
#WzBoDy .forumrow.table.topx-tip-info {
    padding: 5px 30px;
}

/*------- custom bqn submit and note cv -----------*/
table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    width: 100%;
}
table.imagetable th {
    background:#b5cfd2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.imagetable tr {
    border-bottom: 1pt solid #9f8b8b;
    border-width: 1px;
    border-color: grey;
    padding: 2px;
}
table.imagetable td {
     background:#dcddc0;
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #999999;
 }

/* ---------------On/Off FlipSwitch ------- */
.onoffswitch {
    position: relative; width: 49px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
    margin: 0 auto;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0; bottom: 0;
    right: 31px;
    border: 2px solid #999999;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
    width: 17px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.btn-ac-note {
    margin: 4px 5px;
}
.block_ntv_dangnhap .icheckbox_square-blue {
    padding-left: 5px;
}

.block_ntv_dangnhap .font14 {
    font-weight: 600;
}

input.fix-class-check {
    opacity: 1;
    position: relative;
    display: block;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin: 0 auto;
    cursor: pointer;
}

/*fix check box in CVAct*/
.ckf {
    top:9px
}
/*fix- width page show pdf CV*/
#File-pdf .fix-file-view {
    margin: 0 auto;
    width: 100%;
}

.rm-text {
    padding: 2px 5px;
    color: #ec0505;
    cursor: pointer;
    background: #f5f5f5;
}

label.title {
    font-weight: 600;
}
.role-control label{
    padding-top: 4px;
    display: inline;
}
.fix-with4 {
    float: left ;
}

.role-control label.radio.col-lg-2 {
    padding: 4px 0 0px 15px;
}
.imagetable .searchbox-user {
    padding: 5px 0 7px 5px;
    width: 180px;
}
/* ------------ css table show cv -------------- */
.bd table.table-show td{
    width: 0;
}
.table-show {
    margin: 10px auto;
}
.table-show td {
    width: 0;
}
.table-show thead tr.tr-show h2 {
    text-align: left;
}
.table-show tr.tr-show{
    width: 0;
}
.table-show tr.tr-show td.title {
    font-weight: 500;
    color: #7b90b5;
    margin: 0 auto;
    padding: 4px;
}
.table-show tr td.show-dt {
    text-align: center;
}

/* autocomplete-suggestions*/
div.search-field {
    z-index: 444;
    position: absolute;
}
#myautocomplete {
    top: 1px;
    float: left;
    position: relative;
    width: 176px;
}
#myautocomplete option:hover {
    cursor: pointer;
    color: #0000ff;
}
#myautocomplete option[set="img"] {
    padding: 7px 0px 7px 10px;
    width: 10px;
    margin: 5px;
    background-repeat: round;
}

#searchclear {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #0739f9;
    cursor: pointer;
}

.fix-show-ceo .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 45px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
    resize: vertical;
    background: #f7f7f7;
}
.fix-show-ceo .textarea img {
    width: 30px;
    height: 40px;
}
