.statistic {
    margin: 20px 0;
    position: relative;
}
.col-md-3{
    width: 25%;
}

.statistic-sidebar {
    padding: 20px 0 10px 0;
    padding-top: 20px;
    margin-top: 20px;
    background: #fff;
    position: relative;
}

.search-title {
    font-size: 20px;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    background-color: #7575a3;
    border-bottom: 1px solid #f0f4f7;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    position: relative;
}

.statistic-menu {
    margin-top: 30px;
    position: relative;
}

.statistic-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
    position: relative;
}

#status_statistic li{
    background-color: #ded6f5;
    border-bottom: 1px solid #f0f4f7;
    position: relative;
}
#status_statistic li.active{
    border-bottom: none;
    background-color: #f5f5f5;
    position: relative;
}
#status_statistic li a:hover {
    background-color:#ac98e6;
    color: white;
    cursor: pointer;
    position: relative;
}
.status_statistic li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
    background-color: #CCC;
    position: relative;
}
.search_po_sa {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #888;
    float: left;
    position: relative;
    margin: auto;
    margin-left: 60px;
    margin-bottom: 30px;
    height: 40px;
   
}
.search_po_sa input#startDate {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e7e7e7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    line-height: 32px;
    margin: 0 auto;
    padding-left: 10px;
    width: 130px;
}
.search_po_sa input#endDate {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e7e7e7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    line-height: 32px;
    margin: 0 auto;
    padding-left: 10px;
    width: 130px;
}

.search_po_sa select#positionsSearch {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e7e7e7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    height: 100%;
    width: 150px;
}

.search_po_sa input#searchStatistics {
    border: 0 none;
    height: 100%;
    margin-left: -4px;
    width: 5em;
}

/*  CSS download statistic CV cho từng hightchart */

.printCV{
    background-image: url(../img/menu.png);
    width: 27px;
    height: 27px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.printCV::after, .printCV::before {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.printcv:hover .reaction-box1, .printcv:hover .reaction-box2{
  display: block;  
}

.printcv .reaction-box1, .printcv .reaction-box2 {
    width: 150px; height: 150px;
    display: none;
    position: static;
    float: none;
    border: 0;
}

.printcv:hover .reaction-box1 .reaction-icon:hover, .printcv:hover .reaction-box2 .reaction-icon:hover{
    background: #ddd;
    cursor: pointer;
    z-index: 1;
}

.printcv .reaction-box1 .reaction-icon, .printcv .reaction-box2 .reaction-icon {
    width: 150px; height: 25px;
    font-size: 9pt;
    padding-top: 5px;
    text-align: center;
    transform: translate(4px,20px) scale(1);
    border: 1px solid #ccc;
    text-shadow: 0 1px 0 #fff;
    z-index: 1;
    background-color: #fff;
}

.printcv:hover .reaction-box1 .reaction-icon .fa,.printcv:hover .reaction-box2 .reaction-icon .fa{
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}

/*  CSS download statistic CV cho từng hightchart */

.menu_download{
    border-bottom: 1px solid #f0f4f7;
    height: 100px;
    position: static;
    float: none;
    border: 0;
    padding-top: 30px;
    margin-bottom: 30px;
}

.menu_download .list_do{
    height: 30px;
    padding-top: 5px;
    text-align: center;
    /*transform: translate(-10px,30px) scale(1);*/
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    text-shadow: 0 1px 0 #fff;
    /*padding-top: 10px;*/
    margin-top: 2px;
}

.menu_download .list_do:hover {
    background-image: linear-gradient(to bottom, #fff 0px, #cdc1f0 100%);
    cursor: pointer;
}

.menu_download .list_do .fa{
    float: left;
    padding-left: 20px;
    transform: translate(0,-7px);
}

#error_date{
    width: 600px;
    height: 30px;
    padding-top: 30px;
    padding-left: 95px;
    color: red;
    display: none;
}

/* botton dowwnload hightchart*/
.highcharts-button{
    display: none;
}

/*#highcharts-0 svg text:nth-child(14){
    display: none;
}

#highcharts-2 svg text:nth-child(15)

    display: none;
}*/

.highcharts-tooltip + text{
    display: none;
}

#error_{
    height: 300px;
    text-align: center;
    display: none;
    color: #336699;;
    font-size: 15pt;
    font-weight: 700px;
}

#box_tb{
    color: #666699;
    transform: translate(0,10px);
}

.number_tb{
    height: 20px;
    background-color: red;
    transform: translate(80px, -30px);
    width: 18px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.dropdown-menu li{
    border-bottom: 1px solid #ccc;
}